*.log
.DS_Store
.idea
node_modules
/mysql_data
/docroot/wp-config.php
/docroot/wp-content/advanced-cache.php
/docroot/wp-content/backup-db/
/docroot/wp-content/backups/
/docroot/wp-content/blogs.dir/
/docroot/wp-content/cache/
/docroot/wp-content/uploads/
/docroot/wp-content/upgrade/
/docroot/wp-content/wp-cache-config.php
/theme/style.css
/theme/assets/css/
/theme/assets/js/
/remote/
/sqldump.sql