.l-container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.l-container--medium {
	max-width: 1040px;
}

.l-container--small {
	max-width: 550px;
}

.l-container--no-padding {
	padding-left: 0;
	padding-right: 0;
}

.l-row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.l-row--gap-no	{
	margin-left: 0;
	margin-right: 0;
}

.l-row--gap-no > .l-col {
  padding-left: 0;
  padding-right: 0;
}

.l-row--gap-small {
  margin-left: -7px;
  margin-right: -7px;
}

.l-row--gap-small > .l-col {
  padding-left: 7px;
  padding-right: 7px;
}

.l-row--gap-default {
	margin-left: -15px;
	margin-right: -15px;
}

.l-row--gap-default > .l-col {
	padding-left: 15px;
	padding-right: 15px;
}

.l-row--gap-medium {
	margin-left: -25px;
	margin-right: -25px;
}

.l-row--gap-medium > .l-col {
	padding-left: 25px;
	padding-right: 25px;
}

.l-row--gap-large {
	margin-left: -45px;
	margin-right: -45px;
}

.l-row--gap-large > .l-col {
	padding-left: 45px;
	padding-right: 45px;
}

.l-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.l-col-auto {
	flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.l-a-i-start {
  @include align-items(flex-start);
}

.l-a-i-center {
  @include align-items(center);
}

.l-a-i-end {
  @include align-items(flex-end);
}

.l-j-c-start {
	@include justify-content(flex-start);
}

.l-j-c-center {
	@include justify-content(center);
}

.l-j-c-end {
	@include justify-content(flex-end);
}

.l-j-c-around {
	@include justify-content(space-around);
}

.l-j-c-between {
	@include justify-content(space-between);
}

.l-a-s-start {
  @include align-self(flex-start);
}

.l-a-s-center {
  @include align-self(center);
}

.l-a-s-end {
  @include align-self(flex-end);
}

.l-col-first {
  order: -1;
  @include order(-1);
}

.l-col-last {
  @include order(1);
}

@for $i from 1 through 12 {
	.l-col-#{$i} {
		flex-basis: 100% * $i / 12;
		max-width: 100% * $i / 12;
		min-width: 100% * $i / 12;
	}

	.l-col-offset-#{$i} {
		margin-left: 100% * $i / 12;
	}
}

@each $key, $value in $global-breakpoints {
	@include media-breakpoint($key) {
		@for $i from 1 through 12 {
		  .l-col-#{$key}-#{$i} {
				flex-basis: 100% * $i / 12;
				max-width: 100% * $i / 12;
				min-width: 100% * $i / 12;
		  }

			.l-col-offset-#{$key}-#{$i} {
				margin-left: 100% * $i / 12;
			}
		}

    .l-col-offset-#{$key}-no {
      margin-left: 0;
    }

		.l-a-i-start-#{$key} {
		  @include align-items(flex-start);
		}

		.l-a-i-center-#{$key} {
		  @include align-items(center);
		}

		.l-a-i-end-#{$key} {
		  @include align-items(flex-end);
		}

		.l-j-c-start-#{$key} {
			@include justify-content(flex-start);
		}

		.l-j-c-center-#{$key} {
			@include justify-content(center);
			text-align: center;
		}

		.l-j-c-end-#{$key} {
			@include justify-content(flex-end);
			text-align: right;
		}

		.l-j-c-around-#{$key} {
			@include justify-content(space-around);
		}

		.l-j-c-between-#{$key} {
			@include justify-content(space-between);
		}

		.l-a-s-start-#{$key} {
		  @include align-self(flex-start);
		}

		.l-a-s-center-#{$key} {
		  @include align-self(center);
		}

		.l-a-s-end-#{$key} {
		  @include align-self(flex-end);
		}

		.l-col-first-#{$key} {
		  order: -1;
		  @include order(-1);
		}

		.l-col-last-#{$key} {
		  @include order(1);
		}

		.l-row--gap-no-#{$key} {
			margin-left: 0;
			margin-right: 0;
		}

		.l-row--gap-default-#{$key} {
			margin-left: -15px;
			margin-right: -15px;
		}

		.l-row--gap-default-#{$key} .l-col {
			padding-left: 15px;
			padding-right: 15px;
		}

		.l-row--gap-medium-#{$key} {
			margin-left: -25px;
			margin-right: -25px;
		}

		.l-row--gap-medium-#{$key} .l-col {
			padding-left: 25px;
			padding-right: 25px;
		}

		.l-row--gap-large-#{$key} {
			margin-left: -45px;
			margin-right: -45px;
		}

		.l-row--gap-no-#{$key} .l-col {
			padding-left: 0;
			padding-right: 0;
		}

		.l-row--gap-large-#{$key} .l-col {
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}
