$siteFontFamily			: sans-serif;
$siteFontSize			  : 1;
$siteLineHeight			: 1.22222;
$siteFontWeight			: "400";
$siteLetterSpacing	: 0;

$secondaryFontFamily : serif;

$fontWeights: (
  400,
  500,
  700,
);
