.c-main-site {
  min-height: 100vh;
  @include flexbox;
  @include flex-direction(column);
  position: relative;
}

.c-main-site__content {
  @include flex(1 0 auto);
  margin-top: 40px;
}

.is-sticky .c-main-site__content {
  margin-top: 40px;
  margin-top: 205px;
}

.c-main-site__content-area {
  padding: 0 15px;
}

.archive h1 {
  margin-bottom: 20px;
}
