.c-main-header {
}

.c-main-header__wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}


.c-main-header__logo-img {
  max-width:65px ;
}

.c-main-header__link-wrapper {
  @include flexbox();
  @include align-items(center);
}

.c-main-header__Title {
  padding-left:20px;
  @include font-size(2);
}

.c-main-header__nav-trigger-wrapper {
  z-index: 1;
  cursor: pointer;
}

.c-main-header__nav-trigger {
  position: relative;
  width: 28px;
  height: 18px;
}

.c-main-header__nav-trigger-bar {
  position: absolute;
  top: 8px;
  right:0;
  width: 100%;
  height: 2px;
  background: getColor('light-black');
  border-radius: 2px;
  transition: all 0.4s;

  &:first-child {
    top: 0;
    width: 18px;
  }

  &:last-child {
    top: 16px;
    width: 24px;
  }
}

.c-main-header__nav-trigger:hover .c-main-header__nav-trigger-bar {
  width: 100%;
}

.c-user-login,
.c-add-post {
  padding-right: 20px;
  position: relative;
}

.c-user-login__svg,
.c-user-logout__svg,
.c-add-post__svg {
  height: 100%;
  width: 30px;
}

.c-user-logout__svg {
  cursor: pointer;
}

.c-user-login__link,
.c-user-logout__link,
.c-add-post__link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.c-navbar-right {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}