.c-main-site {
  min-height: 100vh;
  overflow: hidden;
  @include flexbox;
  @include flex-direction(column);
}

.c-main-site__content {
  @include flex(1 0 auto);
}

.c-main-site__content-area {
  padding: 0 15px;
}
