.c-wysiwyg ul,
ul {
  list-style: none;
}

.c-wysiwyg ul > li,
ul > li {
  position: relative;
  padding-left: 1.5em;
}

.c-wysiwyg ul > li:before,
ul > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.1875em;
  left: 0.1875em;
  width: 0.8125em;
  height: 0.8125em;
  background: url('assets/img/th-list-solid.svg') no-repeat center center;
  background-size: 100%;
}

ul > li.list-item-white:before {
  background: url('assets/img/th-list-solid-white.svg') no-repeat center center;
}

.c-wysiwyg a {
  text-decoration: underline;
}

.c-wysiwyg > *:first-child {
  margin-top: 0;
}

.c-wysiwyg > *:last-child {
  margin-bottom: 0;
}

.grid-sizer {
  width:33%;
}

article {
  width: calc(30% - 10px);
  padding:50px;
  border: 1px solid getColor('red');
  margin: 5px;
}